<div class="container p-2">

  <div>
    <mat-form-field class="col-md-3" KeyReader appearance="outline">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
  </div>

  <div class="row">
    <span class="col-md-3">
      Field 1
      <input matInput class="default-input">
    </span>
    <span class="col-md-6">
        Field 2
       <input matInput class="default-input">
    </span>
  </div>

  <div KeyReader>
    <div class="row">
      <textarea matInput class="col-md-6 default-input"></textarea>
      <mat-form-field class="col-md-6" appearance="outline">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
      </mat-form-field>
    </div>
  </div>

</div>
