<div style="width: 80%; margin-top: 20%; margin: auto; font-size: larger;">

    <h1 style="margin-top: 0.5rem">Instrukcje</h1>
    <p>Przepisz podane słowa. Nie zwracaj uwagi na popełnione błędy. Jeśli jednak popełnisz błąd, naciśnij spację i zapisz słowo jeszcze raz.</p>

    <div KeyReader class="reader-area">
        <span>
          <span style="margin: 0 4px" *ngFor="let word of $words | async">{{word.text + ' '}}</span>
        </span>
        <textarea [(ngModel)]="text" style="width: 100%; font-size: larger;" rows="5" type="text"></textarea>
    </div>
    <input type="text">




    <button mat-raised-button color="primary" (click)="save()">{{'save' | translate}}</button>
</div>
