<div style="width: 80%; margin-top: 20%; margin: auto; font-size: larger;">

    <h1 style="margin-top: 0.5rem">Instrukcje</h1>
    <p>Przepisz podane słowa. Nie zwracaj uwagi na popełnione błędy. Jeśli jednak popełnisz błąd, naciśnij spację i
      zapisz słowo jeszcze raz. Nie kasuj tekstu (nie używaj klawiszu "backspace"), nie ma wpływu na badanie.
      Wpisane znaki są już zarejestrowane. Pisz naturalnie. Formularz zostanie zatwierdzony automatycznie po upłynięciu
      <strong>PIĘCIU SEKUND</strong> od ostatniej interakcji z klawiaturą. Postaraj się nie przekroczyć tego czasu
      dopóki nie przepiszesz wszystkich słów. Rejestrowane są tylko znaki wpisane w
      oznaczonym obszarze (przerywane linie). Po zakończeniu i odczekaniu pięciu sekund zostaniesz przeniesiony na stronę
      główną z aktualnym stanem nauczenia systemu. Jeśli będzie on zbyt niski powtórz badanie.
    </p>

    <div KeyReader class="reader-area">
        <span>
          <span style="margin: 0 4px" *ngFor="let word of $words | async">{{word.text + ' '}}</span>
        </span>
        <textarea [(ngModel)]="text" style="width: 100%; font-size: larger;" rows="5" type="text"></textarea>
    </div>
<!--    <input type="text">-->




<!--    <button mat-raised-button color="primary" (click)="save()">{{'save' | translate}}</button>-->
</div>
