/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.reader-area{
  border: bisque 15px dashed;
  padding: 10px;
}

.default-input {
  border: 1px grey solid !important;
  margin: 5px !important;
  width: auto !important;
}

